<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <h3> <a href="/"> <img src = "http://www.downloadfeast.com/wp-content/uploads/2016/02/dogplayingpiano.gif" width="243"> </a> <h3>
      <li class="sidebar-brand">
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
<div id="wrapper">
    <!-- Sidebar -->
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
    <p style = "color: white"> Something </p>
<br>
<center> <h1> In the Shortcuts page with AJAX </h1>
<h3>
    - Type in the box where you want to go and hit enter <br>
    - Click Speak and say where you want to go <br>
    - Say something about having body parts and get a response <br>
    - Say something funny and get a response <br>
    - Say who are you <br>
    - Say who am I <br>
    - Say something about the computer <br>
    - Doesn't know much else ... <br>
    - More comming soon ... <br>
    - Maybe .... <br>
</h3>
</center>
</div>
