<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <h3> <a href="/"> <img src = "http://www.downloadfeast.com/wp-content/uploads/2016/02/dogplayingpiano.gif" width="243"> </a> <h3>
            <li class="sidebar-brand">
              <a href="/about">About</a>
            </li>
        </ul>

    </div>
  <br>
  <h1 align ="center"> Voice Rec <h1>
  <center> In the shortcuts page without AJAX </center>
