<%= render "/sidebar.html" %>
<div id = "wrapper">
<br>
  <center>
  <h1> In the Home page with Ajax <h1>
   This page was created so that you
    don't have to type anymore.
    That's helpful for individuals like me who
    always make typos.
</center>
</div>
