<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
<div class="content">
  <%= render "/sidebar.html" %>
  <br>
  <h1 align ="center"> Penelope
  <center>
    <center> In the home page without AJAX </center> <br>
    This page was created so that you don't have to type anymore.<br>
    That's helpful for individuals like me who always make typos.
    </h1>
  </center>
</div>
<center>
<form class = "some-form" action="action_page.php">
  <input class = "title-val" type="text" name="title" value="Mickey">
  <br>
  <input class = "desc-val" type="text" name="description" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form>
</center>
</body>
</html>
