<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <h3> <a href="/"> <img src = "http://www.downloadfeast.com/wp-content/uploads/2016/02/dogplayingpiano.gif" width="243"> </a> <h3>
      <li class="sidebar-brand">
        <a href="/shortcuts">Shortcuts</a>
      </li>
    </ul>
  </div>
<div id = "wrapper">
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
<p style = "color: white"> Something </p>
<br>
 <center> <h1> In the about page with ajax <h1> </center>
   <center> <h3> This page doesn't really do much tbh. It has some words in it, but most, well <br>  all of them are
  pretty useless. The plus though is that you can navigate through it <br> just using your voice so no need to
  type anymore :D  </h3> </center>

</div>
