<div id="sidebar-wrapper">
  <!-- Sidebar -->
  <ul class="sidebar-nav">
    <h3> <a href="/"> <img src = "http://www.downloadfeast.com/wp-content/uploads/2016/02/dogplayingpiano.gif" width="243"> </a> <h3>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/shortcuts">Shortcuts</a>
      </li>
    </ul>
  </div>
<div id="wrapper">
  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
</div>
